<form action="/addEsp" method="post">
  <div class="col">
    <label for="especialidade">Especialidade</label>
    <input type="text" id="especialidade" name="especialidade">
    <button type="submit">Cadastrar</button>
  </div>
  
</form>