<div class="col-lg-8 position-relative start-50 translate-middle-x">
  <h1 class="text-center ">Atualize a Especialidade</h1>
  <form action="/atualizarEsp/{{espID}}" method="post" id="cadEspForm">
    <div class="input-group mb-5">
      <span class="input-group-text" id="basic-addon1"><i class="bi bi-file-medical"></i></span>
      <input type="text" class="form-control" id="especialidade" name="especialidade" placeholder="Digite o nome da especialidade..." value="{{espNome}}" required>
      <button type="submit" class="btn btn-primary">Atualizar</button>
    </div>
  </form>
</div>

<script src="/js/buscaCaracteres.js"></script>