<form action="/salvarFoto" method="post" enctype="multipart/form-data">
    <input type="file" name="imagem">
    <button type="submit">Enviar Foto</button>

    <img src="https://sistemahospitalarbcw7.s3.amazonaws.com/44e8b59e2b93276de034bff53dc0c9276e9a50450b5edc081027276217f40841c9f73a7620e8c6d4fb4f217b14a326653950479d99aa93bf83501c6bb3824f29.png">

</form>